body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}

.header-section {
    display: flex;
    margin-top: 70px;
    margin-bottom: 70px;
}

.header-info {
    width: 50%;
    padding-left: 100px;
    text-align: left;
}

.header-info h1 {
    font-size: 60px;
    color: gray;
}

.header-info span {
    color: orange;
}

.header-info p {
    color: gray;
    font-size: 20px;
    font-weight: 600;

}

.order-area {
    margin-top: 60px;
}

.header-info a {
    text-decoration: none;
    padding: 25px 60px;
    color: white;
    background: linear-gradient(orange, tomato);
    border-radius: 50px;

}

.header-image {
    width: 50%;
    background-image: url('images/shapes/Group-8450.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.header-image img {
    width: 100%;
}


.about-me-section {
    display: flex;
    background: url(images/shapes/7.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.about-image {
    width: 50%;
}

.about-image img {
    width: 100%;
    height: 500px;
    object-position: center;
    margin: 50px 50px;
}

.recipie-area {
    margin-top: 40px;
    margin-bottom: 40px;
}

.recipie-area h1 {
    text-align: center;
    color: gray;
    font-size: 50px;
}

.recipie-area p {
    text-align: center;
    color: gray;
}

.main-recipie {
    display: flex;
    margin-top: 50px;

}

.recipies {
    width: 40%;
    padding: 30px 50px;
    box-shadow: 10px 0px 20px gray;
    border-radius: 20px;
}

.recipies:first-child {
    margin-left: 9%;
    margin-right: 1%;
}

.recipies:last-child {
    margin-left: 1%;
    margin-right: 9%;
}

.recipies img {
    width: 100%;
}

.recipies p {
    text-align: left;
}

.social {
    display: flex;
    margin-left: 130px;
    margin-right: 130px;
    margin-bottom: 50px;
    border-radius: 10px;
    box-shadow: 5px 5px 10px gray;
}

.social .item {
    text-align: center;
    padding: 50px 110px;
}

.social .item h1 {
    font-size: 50px;
    font-weight: 900;
}

.social .item p {
    color: gray;
    font-weight: 500;
}